# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

# The entry name that will be displayed in the boot menu.
:nkos
    # We use the Limine boot protocol.
    PROTOCOL=limine
    RESOLUTION=1280x720x32
    RESOLUTION=1024x768x32
    RESOLUTION=960x720x32
    RESOLUTION=1024x600x32
    CMDLINE=-boot verbose -font 16

    MODULE_PATH=boot:///zap-light16.psf


    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///nkos.elf